@import '../../assets/styles/mixins';

.textInput{
    border-radius: 0.3rem;
    padding: 0.4rem;
    outline: none;
    border: 1px black solid;
}
.errortextInput{
    border: 1px red solid;
}

.errorMsg{
    color: red;
    @include sm {    
        margin-top: 0.5rem;
    }
}